{% extends 'main/layout.html' %}
{% load static %}
{% block title %}Контакты{% endblock %}

{% block static %}
    <link rel="stylesheet" href="{% static 'main/css/contacts_index.css' %}">
{% endblock %}

{% block style %}
<style>

</style>
{% endblock %}

{% block content %}
<div class="contacts">
    <div class="telo">
        <a>
            <u>По всем вопросам</u></br>
            Телефон: +79602210209 </br>
            Почта: kartashov.kirill2012@yandex.ru </br>
            Телеграм: @papayagame_bot
        </a>
    </div>
    <div class="podval">
        <a href="https://www.youtube.com/watch?v=5FHIL1N6blI" target="_blank">
            <i class="fab fa-sticker-mule fa-spin"></i></a>
        <a
           href="https://www.google.com/maps/place/%D0%9F%D0%B8%D1%81%D0%BA%D0%BE%D0%B2%D0%B8%D1%87%D0%B8,+%D0%9F%D1%81%D0%BA%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB.,+180551/@57.8617091,28.2030913,15z/data=!3m1!4b1!4m5!3m4!1s0x46c01e1c75aadd13:0x37017af113e6ff6f!8m2!3d57.8619439!4d28.2119439?hl=ru"
           target="_blank"> <i class="fa fa-map fa-spin"></i></a>
        <a href="https://vk.com/kikartashov" target="_blank">
            <i class="fab fa-vk fa-spin"></i></a>
        <a href="https://vk.me/moneysend/kikartashov" target="_blank">
            <i class="fa fa-donate fa-spin"></i></a>
        <a href="http://instagram.com/kartashov322" target="_blank">
            <i class="fab fa-instagram fa-spin"></i></a>

    </div>
</div>
{% endblock %}
