{% extends 'main/layout.html' %}
{% load static %}
{% block title %}{{ ord }}{% endblock %}

{% block static %}
<link rel="stylesheet" href="{% static 'main/css/orders_detail.css' %}">
{% endblock %}

{% block style %}
<style>

</style>
{% endblock %}

{% block content %}
<div class="orders_block">
    <div class="title">
        <b>{{ ord }}</b>
    </div>
    <div class="space">
        {% for prod in order_products %}
        {% for game in games %}
        {% if game == prod.games_id %}
            <div class="info_block">
                    {{ game.title }}
                <picture>
                    <img src="{{ game.picture.url }}">
                </picture>
                    <a>Кол-во:{{ prod.amount }}</a>
                    <a>Стоимость: {% widthratio game.price 1 prod.amount %} ₽ </a>
            </div>
            <div class="content_block">

            </div>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>
    <div class="endprice">
        <a><u>Цена заказа:</u> <b>{{ ord.total }} ₽ </b> </a>
        <a>Пункт выдачи: {{delivery_point.address}}</a>
        <a>Время работы пункта: {{ delivery_point.work_hours }} </a>
        <a>Дата доставки: {{ord.order_date}}</a>
        <a>Способ оплаты: {{ord.payment_type}}</a>
        {% if user.is_staff %}
            <a>Имя клиента: {{ord.client}}</a>
            <a>Телефон для связи: {{ord.phone}}</a>
        {% endif %}
    </div>
</div>
{% endblock %}